@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600,800');

html, body, ul, li, ol, dl, dt, dd, table, th, td, h1, h2, h3, h4, h5, h6 {
    padding:0;
    margin:0;
}

a:link, a:visited, a:active, a:hover {
    color:#1b1b1c;
    text-decoration:none;
}

img {
    border:0;
    display:block;
    max-width:100%;
}

.color {
    color:#1b1b1c;
}
.bg {
    color:#1b1b1c;
}

* {
    font-family:'Open Sans', 'Malgun Gothic', Arial, Helvetica, sans-serif;
}

ul, li, ol, dl, dt, dd {
    list-style:none;
}


