
.icon-paper-plane:before { content: '\e802'; } /* '' */
.icon-random-line:before { content: '\e803'; } /* '' */
.icon-rose-shape:before { content: '\e804'; } /* '' */
.icon-sun-lotion:before { content: '\e805'; } /* '' */
.icon-coffee:before { content: '\e806'; } /* '' */
.icon-discount:before { content: '\e807'; } /* '' */
.icon-home-interface:before { content: '\e808'; } /* '' */
.icon-musical-note:before { content: '\e809'; } /* '' */
.icon-paw:before { content: '\f1b0'; } /* '' */